<h1>User</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.name %>
</p>

<h2><%= @user.name %>'s <%= @user.created_events.count %> events:</h2>

<% @user.created_events.each do |event| %>
  <td>
    <p>
      <%= link_to event.name, event_path(event) %>
    </p>
  </td>
<% end %>

<h2> Events <%= @user.name %> is attending</h2>

<% @user.attended_events.each do |event| %>
  <% if event.date > Date.yesterday %>
    <td>
      <p>
        <%= link_to event.name, event_path(event) %>
        <%= event.date %>
      </p>
    </td>
  <% end %>
<% end %>

<h2> Events <%= @user.name %> previously attended</h2>

<% @user.attended_events.each do |event| %>
  <% if event.date < Date.today %>
    <td>
      <p>
        <%= link_to event.name, event_path(event) %>
        <%= event.date %>
      </p>
    </td>
  <% end %>
<% end %>

<% if session[:username] && session[:username] != @user.name %>
  <h2> Invite <%= @user.name %> to one of your events</h2>
  <% current_user.created_events.each do |event| %>
    <td>
      <p>
        <%= event.name %>
        <%= link_to "Invite" %>
      </p>
    </td>
  <% end %>
<% elsif !session[:username] %>
    <h2>Login to invite this user to your event.</h2>
<% else %>
    <h2>This is your page.</h2>
<% end %>