<h1>User</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.name %>
</p>

<h2><%= @user.name %>'s <%= @user.created_events.count %> events:</h2>

<% @user.created_events.each do |event| %>
  <td>
    <p>
      <%= link_to event.name, event_path(event) %>
    </p>
  </td>
<% end %>

<h2> Events <%= @user.name %> is attending</h2>

<% @user.attended_events.each do |event| %>
  <% if event.date > Date.yesterday %>
    <td>
      <p>
        <%= link_to event.name, event_path(event) %>
        <%= event.date %>
      </p>
    </td>
  <% end %>
<% end %>

<h2> Events <%= @user.name %> previously attended</h2>

<% @user.attended_events.each do |event| %>
  <% if event.date < Date.today %>
    <td>
      <p>
        <%= link_to event.name, event_path(event) %>
        <%= event.date %>
      </p>
    </td>
  <% end %>
<% end %>