<h1>Event</h1>

<p id="notice"><%= notice %></p>

<% if current_user && session[:username] = current_user.name %>
  <p>This is your event. You may invite guests.</p>
<% else %>
  <p>This is not your event. You can only view it. If you think it is your event, log into the correct account.</p>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @event.name %></br></br>
  <strong>Creator:</strong>
  <%= link_to @event.creator.name, user_path(@event.creator) %></br></br>
  <strong>Date:</strong>
  <%= @event.date %></br></br>
  <strong>Attendees:</strong>
  <% @event.attendees.each do |attendee| %>
    <td>
      <p>
        <%= link_to attendee.name, user_path(attendee) %>
      </p>
    </td>
  <% end %>
</p>