<h1>Event</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %></br></br>
  <strong>Creator:</strong>
  <%= link_to @event.creator.name, user_path(@event.creator) %></br></br>
  <strong>Date:</strong>
  <%= @event.date %></br></br>
  <strong>Attendees:</strong>
  <% @event.attendees.each do |attendee| %>
    <td>
      <p>
        <%= link_to attendee.name, user_path(attendee) %>
      </p>
    </td>
  <% end %>
</p>

<% if session[:username] = @event.creator.name %>
  <h2>Invite users to your event</h2>
  <% User.all.each do |user| %>
    <%= next if user.name == session[:username] || user.attended_events.include?(@event) %>
    <%= form_with(model: @attendances, local: true, url: attendances_path) do |form| %>
      <%= form.hidden_field :user_id, :value => user.id %>
      <%= form.hidden_field :event_id, :value => @event.id %>
      <%= form.submit user.name %>
  <% end %>
  <% end %>
<% end %>