<h1>Event</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %></br></br>
  <strong>Creator:</strong>
  <%= link_to @event.creator.name, user_path(@event.creator) %></br></br>
  <strong>Date:</strong>
  <%= @event.date %></br></br>
  <strong>Attendees:</strong>
  <% @event.attendees.each do |attendee| %>
    <td>
      <p>
        <%= link_to attendee.name, user_path(attendee) %>
      </p>
    </td>
  <% end %>
</p>

<h2>Invite users to your event</h2>
<% User.all.each do |user| %>
  <%= next if user.name == session[:username] %>
  <p>
    <%= link_to user.name %>
  </p>
<% end %>