<h1>Event</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %></br></br>
  <strong>Creator:</strong>
  <%= @event.creator.name %></br></br>
  <strong>Date:</strong>
  <%= @event.date %></br></br>
  <strong>Attendees:</strong>
  <% @event.attendees.each do |attendee| %>
    <td>
      <p>
        <%= attendee.name %>
      </p>
    </td>
  <% end %>
</p>